*{
    padding: 0;
    margin: 0;
    line-height: 2;
    background-color: aquamarine;
}

.game_area {
    background-color: aquamarine;
    color: darkslateblue;
    padding: 20%;
    padding-top: 5%;
    margin-bottom:auto;
}
.heading {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
.submit {
    background-color:blueviolet;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 5px;
    
}
.inputField {
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
    margin: 0;
    margin: none;
    border: none;
    background-color: white;
    margin-right: 30px;
}
.newGame {
    background-color:rgb(43, 184, 43);
    border-radius: 20px;
    font-size: large;
    text-align: center;
    color: white;
    padding: 5px;
   
}



